<!DOCTYPE html>
<html>
    <head>
        <title>My Page</title>
    </head>
    <body>
        <h1 style="background-color: tomato; color: white;">Welcome to my website.</h1>
        <p style="background-color: green;color: yellow;">This is my page.</p>
        <p style="background-color: green;color: yellow;">I love my India.</p>
    </body>
</html>